/*---------- 公共元素 ----------*/

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul li, ol li {
  list-style-type: none;
}

/*---------- 页面布局 ----------*/

.wrap {
  width: 1000px;
  height: 960px;
  background-color: yellow;
  margin: 0 auto;
}

/*---------- header ----------*/

.header {
  width: 1000px;
  height: 70px;
  background-color: #fff;
}

.header .logo {
  float: left;
  width: 200px;
  height: 70px;
}

.header .nav {
  float: left;
  width: 800px;
  height: 70px;
}

.header .nav ul{
  float: right;
}

.header .nav ul li {
  float: left;
}

.header .nav ul li a {
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
}

.header .nav ul li a:hover {
  color: #000;
  background-color: #f00;
}

.nav_list li a:link, .nav_list li a:visited {
  color: #000;
}

.header .clear {
  clear: both;
}

.banner {
  width: 1000px;
  height: 310px;
  background-color: pink;
}

.news_gundong {
  width: 1000px;
  height: 44px;
  background-color: purple;
}

.pic_list {
  width: 1000px;
  height: 130px;
  background-color: gray;
}

.news {
  width: 1000px;
  height: 200px;
  background-color: #558888;
}

.banquan {
  width: 1000px;
  height: 60px;
  background-color: green;
}
