/*---------- 公共元素 ----------*/

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

ul li, ol li {
  list-style-type: none;
}
img{
  display: block;
}

/*---------- 页面布局 ----------*/

.wrap {
  width: 1000px;
  height: 960px;
  background-color: #fff;
  margin: 0 auto;
}

/*---------- header ----------*/

.header {
  width: 1000px;
  height: 70px;
  background-color: #fff;
}

.header .logo {
  float: left;
  width: 200px;
  height: 70px;
}

.header .nav {
  float: left;
  width: 800px;
  height: 70px;
}

.header .nav ul {
  float: right;
}

.header .nav ul li {
  float: left;
}

.header .nav ul li a {
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
}

.header .nav ul li a:hover {
  color: #fff;
  background-color: #bd3847;
}

.header .clear {
  clear: both;
}

/*---------- banner ----------*/

.banner {
  width: 1000px;
  height: 310px;
  background-color: pink;
}

/*---------- flashnews ----------*/

.flashnews {
  color: #fff;
  width: 1000px;
  height: 44px;
  background-color: #666;
  margin-top: 10px;
}

.flashnews_left {
  width: 300px;
  height: 44px;
  background-color: #bd3847;
  float: left;
  line-height: 44px;
}

.flashnews_right {
  width: 700px;
  height: 44px;
  background-color: #333;
  line-height: 44px;
  float: right;
}

.flashnews_left span {
  display: block;
  margin: 0 auto;
  width: 80px;
  text-align: center;
}

.flashnews_right span {
  display: block;
  padding-left: 40px;
}

/*---------- course ----------*/

.course {
  width: 1000px;
  height: 162px;
  background-color:pink ;
  margin-top: 10px;
}

.course_pic {
  width: 1000px;
  height: 130px;
  background-color:#fff;
}
.pic_list{
  overflow: hidden;
}
.course .course_pic .pic_list li {
  float: left;
}

.course .course_pic .pic_list .mid_pic {
  margin: 0 4px;
}

.clear {
  clear: both;
}

.course_title {
  width: 1000px;
  height: 32px;
  background-color: #fff;
}

.course_title .title_list li span {
  display: block;
  width: 328px;
  height: 30px;
  float: left;
  line-height: 30px;
  border: 1px solid #999;
  text-align: center;
}

.course_title .title_list .mid_title {
  margin: 0 4px;
}

/*---------- news ----------*/

.news {
  width: 1000px;
  height: 200px;
  background-color: #fff;
  margin-top: 20px;
}

.news .news_list li{
  float: left;
}

.news_left, .news_mid, .news_right{
  width: 330px;
  height: 200px;
}

.news_left{
  background-color: yellow;
}
.news ul li .news_top{
  color: #fff;
  width: 330px;
  height:30px;
  line-height: 30px;
  background-color: #bd3847;
}

.news ul li .news_top span{
  display: block;
  margin-left: 20px;
}
.news_mid{
  background-color: purple;
}

.news .news_list li .news_mid{
  margin: 0 4px;
}

.news_right{
  background-color: blue;
}
/*---------- copyright ----------*/

.copyright {
  width: 1000px;
  height: 100px;
  background-color: green;
}
