/*---------- 公共元素 ----------*/
*{margin: 0;padding: 0;font-size: 12px;}
a{text-decoration: none;color: #333;}
ol li,
ul li{list-style-type: none;}
img{display: block;}
.clear{clear: both;}

/*---------- 页面布局 ----------*/
.wrap{width: 1000px;height: 960px;margin: 0 auto;background-color: #fff;}

/*---------- header ----------*/
.header{width: 1000px;height: 70px;background-color: #fff;}
.header .logo{float: left;width: 200px;height: 70px;}
.header .nav{float: left;width: 800px;height: 70px;}
.header .nav ul{float: right;}
.header .nav ul li{float: left;}
.header .nav ul li a{line-height: 70px;display: block;height: 70px;padding: 0 20px;font-size: 14px;}
.header .nav ul li a:hover{color: #fff;background-color: #bd3847;}

/*---------- banner ----------*/
.banner{width: 1000px;height: 310px;margin-top: 10px;}

/*---------- flashnews ----------*/
.flashnews{width: 1000px;height: 44px;margin-top: 10px;color: #fff;background-color: #666;}
.flashnews_left{line-height: 44px;float: left;width: 150px;height: 44px;background-color: #bd3847;}
.flashnews_left span{display: block;width: 80px;margin: 0 auto;text-align: center;font-size: 14px;}
.flashnews_right{line-height: 44px;float: right;width: 850px;height: 44px;background-color: #333;}
.flashnews_right span{display: block;padding-left: 40px;font-size: 14px;}

/*---------- course ----------*/
.course{width: 1000px;height: 162px;margin-top: 10px;}
.course .hot-box{width: 330px;float: left;}
.course .hot-box .img-box{height: 130px;}
.course .hot-box .title{text-align: center;border: solid 1px #ddd;padding: 5px;font-size: 14px;}
.course .middle{margin: 0 5px;}

/*---------- news ----------*/
.news{width: 1000px;height: 300px;margin-top: 20px;background-color: #fff;}
.news .news-box{width: 328px;height: 298px;border: 1px solid #ddd;float: left;}
.news .news-box .title{width: 308px;height: 44px;background-color:#bd3847;line-height: 44px;padding-left: 20px;color: #fff;font-size: 14px;}
.news .middle{margin: 0 5px;}
.news .hot-news-list{padding:10px 5px;}
.news .hot-news-list li{border-bottom: 1px solid #ddd;}
.news .hot-news-list .date{width: 40px;height: 50px;background-color: #bd3847;border-radius: 4px;color:white;text-align: center;float: left;}
.news .hot-news-list .item{width: 268px;float: left;margin-left: 10px;}


/*---------- copyright ----------*/
.copyright{width: 1000px;height: 100px;background-color: green;}
